/* --- LAYOUT --- */
#about {
    height: 660px;
    padding: 50px 75px;
    box-sizing: border-box;
    opacity: 0.95;
    background: rgb(41,28,19);
    background: linear-gradient(90deg, rgba(41,28,19,1) 50%, rgba(29,21,16,1) 51%);
}

.livro {
    position: absolute;
    opacity: 0.1;
    left: -220px;
    top: 665px;
    height: 650px;
    pointer-events: none;
    user-select: none;
    border-radius: 15px;
    z-index: -1;
}

.caneta {
    position: absolute;
    right: 20px;
    top: 660px;
    opacity: 0.1;
    height: 660px;
    pointer-events: none;
    user-select: none;
    filter: drop-shadow(-10px 5px 5px black);
    z-index: -1;
}

.sobre {
    position: relative;
    z-index: 1;
}



/* --- TEXTO --- */
.titulo-sobre {
    margin: 0 auto;
    text-align: center;
    width: 710px;
    padding-top: 20px;
}

.titulo-sobre .antenome {
    margin-top: -20px;
    font-size: 4em;
    text-transform: uppercase;
    color: #c69f69;
    padding-bottom: 20px;
}

.titulo-sobre .nome {
    font-size: 9em;
    color: #ececec;
    top: 300px;
    font-family: 'Great Vibes', cursive;
    padding-bottom: 25px;
}

.titulo-sobre .texto {
    color: white;
    font-size: 1.35em;
    padding-bottom: 25px;
}

@media (max-width: 576px) {
    .titulo-sobre {
      width: 100%;
    }
    .titulo-sobre .nome {
      font-size: 6em;
      padding-bottom: 20px;
    }
    .titulo-sobre .antenome {
      font-size: 2em;
      margin-top: 0;
    }
    .titulo-sobre .texto {
      font-size: 1.15em;
      text-align: justify;
      padding-bottom: 20px;
    }
  }
  

/* --- BOTÕES --- */
#about .botao {
    background-color: #4d340f;
}

#about .botao:hover {
    box-shadow: 0.5px 0.5px 15px 1px #38260b ;
}
