/* --- LAYOUT --- */
#contact {
    height: 740px;
    box-sizing: border-box;
    background-color: #b39b7e;
    text-align: center;
    padding-top: 65px;
}

#contact .centro-contato {
    background-color: #f8f0e7;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.20 );
}

.telefone {
    user-select: none;
    pointer-events: none;
    position: absolute;
    right: 75px;
    top: 3180px;
}

.mapa {
    user-select: none;
    pointer-events: none;
    position: absolute;
    width: 625px;
    height: 490px;
    opacity: 0.3;
    right: 75px;
}

canvas {
    width: 0;
    height: 200px;
    border: 1px solid #c69f69   ;
    position: absolute;
    left: 330px;
    top: 280px;
}

.tabela {
    width: 300px;
    height: 178px;
    position: absolute;
    left: 350px;
    top: 330px;
}

/* --- TEXTO --- */
.titulo-contato {
    position: absolute;
    text-align: left;
    left: 150px;
    top: 3050px;
    width: 660px;
    padding-top: 20px;
}

.titulo-contato .nome {
    color: #c69f69;
    font-size: 7em;
}

.titulo-contato .antenome {
    margin-top: -20px;
    font-size: 2.6em;
    text-transform: uppercase;
    color: #c69f69;
    padding-bottom: 20px;
}

.titulo-contato .texto {
    font-size: 1.3em;
    color: black;
}

.tabelatitulo {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.1em;
    color: #c69f69;
    font-weight: bold;
    position: absolute;
    left: 350px;
    top: 290px;
}

.tabela td {
    font-family: 'Fanwood Text', serif;
    font-size: 1.3em;
}

/* --- BOTÕES --- */
.acao {
    width: 300px;
}

.acao .botao {
    border-radius: 0;
    margin: 15px 0;
    color: white;
}

.zap {
    background-color: #404b22;
}

.horario {
    background-color: black;
}

.localizacao {
    background-color: #c69f69;
    padding: 10px 17.3px;
}
