/* --- LAYOUT --- */
#gallery {
    height: 740px;
    padding: 50px 75px;
    box-sizing: border-box;
    background: rgb(77,52,15);
    background: linear-gradient(262deg, #4d340f 0%, rgb(12, 8, 2) 100%);
    opacity: 0.95;
}

.vaso {
    vertical-align: bottom;
    position: absolute;
    top: 1885px;
    left: 50px;
    width: 300px;
    opacity: 0.3;
    user-select: none;
    pointer-events: none;
}

.quadro {
    position: absolute;
    right: 50px;
    top: 1530px;
    width: 300px;
    opacity: 0.3;
    display: inline;
    user-select: none;
    pointer-events: none;
}

.moldura {
    width: 220px;
    height: 283px;
    position: absolute;
    user-select: none;
    pointer-events: none;
}

.foto {
    width: 185px;
    height: 250px;
    position: absolute;
    user-select: none;
    pointer-events: none;
}

/* --- TEXTO --- */
.titulo-galeria {
    position: absolute;
    text-align: left;
    width: 450px;
    left: 75px;
    padding-top: 20px;
}

.titulo-galeria .antenome {
    margin-top: -20px;
    font-size: 2.8em;
    text-transform: uppercase;
    color: #c69f69;
    padding-bottom: 20px;
}

.titulo-galeria p {
    color: white;
}


/* --- BOTÕES --- */
.titulo-galeria .botao {
    background-color: #0c0802;
    margin-left: 200px;
    margin-top: -30px;
}

.titulo-galeria .botao:hover {
    box-shadow: 0.5px 0.5px 15px 1px #000000 ;
}
